# ブラウザで取得した user_session クッキーの値 (取得方法は README を参照)
session_cookie = "user_session_12345678_0123456789abcdef..."
# uid / passwd によるパスワードログインは現在ニコニコ側の仕様変更で動作しない
# (将来復旧した場合のフォールバックとして残している。通常は設定不要)
# uid = "example_email@mail.com"
# passwd = "example_password"
saveroot = "./videos"
limit = 10

[[queries]]
query = "実況"
target = "title"
subdir = "hoge"

[[queries]]
query = "ゲーム"
target = "title"
subdir = "piyo"
